* {
  margin: 0;
  padding: 0;
}

body.light-mode {
  background: linear-gradient(135deg, #bcb8d6 0%, #a7b8c7 100%);
  color: #181a20;
  transition: all 0.3s ease;
}

body.dark-mode {
  background-color: #3d3f43;
  color: white;
  transition: all 0.3s ease;
}

hr {
  width: 80%;
  margin: 0 auto;
}
